.scrollable { 
  overflow-y: auto; 
  height: 360px;
}

.chatitem {
  word-wrap: break-word;
  padding-left: 4px;
  padding-right: 4px;
}

.chatentry {
  border-style: solid; 
  border-color: rgba(82, 168, 236, 0.8); 
  border-radius: 4px; 
  border-width: 1px;
  margin-bottom: 2px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: white;
  display: none;
}

.mainscreen {
  margin: 10px;
}

.mainframe {
  border-style: solid; 
  border-color: rgba(82, 168, 236, 0.8); 
  border-radius: 10px; 
  border-width: 2px; 
  padding: 10px;
  background-color: rgba(82, 168, 236, 0.3);
}